{% load static  %}
<!doctype html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <title>WW Energia</title>
  <meta name="description" content="fotowoltaika ">
  <meta name="author" content="https://github.com/WinterOdin">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static '/css/indexGrid.css'  %}">
  <link rel="stylesheet" href="{% static '/css/index.css'  %}">
  <link rel="stylesheet" href="{% static '/css/bootstrap.min.css'  %}">
  <link rel="stylesheet" href="{% static '/css/nav.css'  %}">
  <link rel="stylesheet" href="{% static '/css/gridWork.css'  %}">
  <link rel="stylesheet" href="{% static '/css/work.css'  %}">
  <link rel="stylesheet" href="{% static '/css/calcGrid.css'  %}">
  <link rel="stylesheet" href="{% static '/css/calc.css'  %}">
  <link rel="stylesheet" href="{% static '/css/gallery.css'  %}">
  <link rel="stylesheet" href="{% static '/css/generated.css'  %}">
  <link rel="stylesheet" href="{% static '/css/generatedGrid.css'  %}">
  <link rel="stylesheet" href="{% static '/css/gridFooter.css'  %}">
  <link rel="stylesheet" href="{% static '/css/footer.css'  %}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,300;0,400;0,500;0,600;1,400&family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
    {% block content  %}



    {% endblock  %}
 
  {% include 'footer.html'  %} 
    <script src="{% static '/js/jquery.min.js'  %}"></script>
    <script src="{% static '/js/main.js'  %}"></script>
    <script src="https://kit.fontawesome.com/88703e40b7.js" crossorigin="anonymous"></script>
    <script src="{% static '/js/bootstrap.min.js'  %}" ></script>
</body>
</html>