<div class="grid-container-calc" id="calc">
    <div class="titleCalc">
        <div class="containerTitleCalc">
                
            Oblicz swoją <span class="textIndexContentColor">inwestycje<span class="textIndexDot">.</span>

        </div>
    </div>
    <div class="calcOption">
        <div class="calcInfo">
            By obliczyć potrzebne metry kwadratowe na instalacjie paneli oraz ich ilość wybierz jeden z przedziałów który to reprezentuje twoje<span class="textIndexDot">średnie roczne</span> opłaty za prąd.
        </div>
        <form method="POST" action="{% url 'data'  %}">
            {% csrf_token  %}
            <div class="calcSelect">
                <select name="powerPrice" id="powerPrice" class="selectControl" required >
                    <option value="">wybierz średnią roczną</option>
                    {% for x in selectPrice  %}
                    <option value="{{  x.id  }}">{{ x.price  }}</option>
                    {% endfor  %}
                </select>
            </div>
            <div class="containerAddOns">
                <div class="maxWidthOfQuestionRow">
                    <div class="positionOfQuestionRows">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 clickFaq">
                                <div class="faqQuestion">
                                    Chce by doradca <span class="colorEnergy">WW energy</span> skontaktował się ze mnął 
                                </div>
                                <div class="faqQuestionsTextPreview open">
                                    <div class="formContainer">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-6">
                                                    <div class="form__group field">
                                                        {{ form.name  }}
                                                        <label for="name" class="form__label">Imie</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-6">
                                                    <div class="form__group field">
                                                        {{ form.surname  }}
                                                        <label for="surname" class="form__label">Nazwisko</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-6">
                                                    <div class="form__group field">
                                                        {{ form.phone  }}
                                                        <label for="phone" class="form__label">Numer</label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 col-md-12 col-lg-6">
                                                    <div class="form__group field">
                                                        {{ form.email  }}
                                                        <label for="email" class="form__label">Email</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="agreement">
                                                    Wypełnienie i przesłanie formularza oznacza wyrażenie zgody na przetwarzanie przez WW energy podanych w formularzu danych osobowych w celu udzielenia pomocy bądź informacji dotyczących usług świadczonych przez firme WW energy.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="containerSubmit ">
                <button type="submit" class="draw meet buttonCalc">Oblicz</button>
            </div>
        </form>
    </div>
    <div class="calcAddedCol"></div>
</div>