<div class="container-fluid linesBig">
    <div class="row justify-content-center">
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
      <div class="col-4">
        <div class="textPc">Skontaktuj się z nami</div>
      </div>
      <div class="col-4">
        <div class="borderLinesBig"></div>
      </div>
    </div>
</div>


  <div class="grid-container-footer" id='contact'>
    <div class="time">
      <div class="timeWrapperFooter">
        <div class="timePosFooter">
          <div class="dayDateFooter">
          Poniedziałek - Piątek:
          </div>
          <div class="hoursFooter">
            8:00 - 20:00
          </div>
          <div class="dayDateFooter">
             Sobota - Niedziela
          </div>
          <div class="hoursFooter">
            nieczynne
          </div>
          <div class="timeZoneFooter">
           
          </div>
        </div>
        <div class="bordersFooterMobile"></div>
      </div>
  
    </div>
    <div class="terms">
      <div class="wrapperTermsFooter">
        <!--<a href="#" class="termsLinkFooter">warunki i zasady</a>-->
      </div>
    </div>
    <div class="phone">
      <div class="wrapperPhoneFooter">
        <div class="phonesFooter">
          <div class="callFooter">Kontakt</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">PL </div><div class="numberFooter"> +48 43 550 1723</div>
        </div>
        <div class="phonesFooter">
          <div class="countryFooter">Email </div><div class="numberFooter"> <a class="numberFooter" href="mailto:biuro@wwenergia.pl">biuro@wwenergia.pl</a></div>
        </div>
      </div>
    </div>
    <div class="faq">
      <div class="faqTermsFooter">
       <!--- <a href="#" class="faqLinkFooter">Często zadawane pytania</a>-->
      </div>
    </div>
    <div class="office"><!--Same classes as time-->
      <div class="timeWrapperFooter">
        <div class="bordersFooterMobile"></div>
        <div class="placePosFooter">
          <div class="dayDateFooter">
          Nasza lokalizacja
          </div>
          <div class="hoursFooter">
            Wilcza 31/1A Warszawa
          </div>
          <div class="dayDateFooter">
            Numer identyfikacji (NIP)
          </div>
          <div class="hoursFooter">
              7010700725
          </div>
          <div class="dayDateFooter">

          </div>
          <div class="hoursFooter">

          </div>
        </div>
      </div>
    </div>
    <div class="who">
      <div class="whoFooter">
        © Copyright <a href="https://winterodin.vcraft.pl/index.html " class="linkWinterFooter">WinterOdin</a> 2020 All rights reserved.
      </div>
    </div>
  </div>