<div class="container galleryPos" id='gallery'>
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="titleGalleryWrapper">
                Nasze <span class="colorGallerytitle"> realizacje.</span>
            </div>
        </div>
        <div class="col-2">
            
        </div>
    </div>


    <div class="row no-gutters ">
        {% for x in latest_pics  %}
            <div class="col-sm-12 col-md-12 col-lg-4 align-self-center">
                <div class="tileGallery" style="background-image: url('{{ x.pic_place.url  }}');">
                    <div class="boxWhere">
                        <div class="titleWhere">
                            {{ x.place  }} {{ x.kw_place  }}kW
                        </div>
                    </div>
                </div>
            </div>
        {% endfor  %}
        
 
   


    </div>

</div>