<div class="container galleryPos">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <div class="titleGalleryWrapper">
                Nasze <span class="colorGallerytitle"> realizacje.</span>
            </div>
        </div>
        <div class="col-2">
            
        </div>
    </div>


    <div class="row no-gutters">
        <div class="col-md-4">
            <div class="tileGallery">
                <div class="boxWhere">
                    <div class="titleWhere">
                        Kędzierzyn koźle xDD
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
              <div class="tileGallery">
                <div class="boxWhere">
                    <div class="titleWhere">
                        Kędzierzyn koźle xDD
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tileGallery">
                <div class="boxWhere">
                    <div class="titleWhere">
                        Kędzierzyn koźle xDD
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tileGallery">
                <div class="boxWhere">
                    <div class="titleWhere">
                        Kędzierzyn koźle xDD
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tileGallery">
                <div class="boxWhere">
                    <div class="titleWhere">
                        Kędzierzyn koźle xDD
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="tileGallery">
                <div class="boxWhere">
                    <div class="titleWhere">
                        Kędzierzyn koźle xDD
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>