<div class="grid-container-work">
    <div class="colTextHow">dd</div>
    <div class="colColsHow">
      <div class="col1">
        <div class="colBox1">
          <div class="iconBox1">
            <i class="fas fa-plug"></i>
          </div>
        </div>
      </div>
      <div class="col2">
        <div class="colBox2">
          <div class="iconBox2-1">
            <i class="fas fa-comment-dollar"></i>
          </div>
  
        </div>
      </div>
      <div class="col3">
        <div class="colBox1">

        </div>
      </div>
      <div class="col4">
        <div class="colBox2">

        </div>
      </div>
    </div>
</div>