{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="grid-container-picture">
    <div class="textIndex">
        <div class="textIndexContent">
            Zacznij zarabiać już dziś  <span class="textIndexContentColor">z fotowoltaiką<span class="textIndexDot">.</span>
            </span>
        </div>
        <div class="textAboutIndex">
            Oszczędzaj na rachunkach za prąd i zyskaj dzięki panelom fotowoltaicznym. Skorzystaj z naszego kalkulatora by sprawdzić opłacalność inwestycji. 
        </div>
        <div class="buttonIndex">
            <button >Oblicz</button>
        </div>
        
    </div>
    <div class="backgroundImgIndex">
        <div class="mainPictureIndex">
            <img class="responsiveImgIndex" src="{% static 'images/backgroundImg.png'  %}">
        </div>
    </div>
</div>



<div class="checking">

</div>
{% include 'calc.html'  %} 
{% include 'howWeWork.html'  %} 
{% include 'gallery.html'  %}
{% endblock %}