{% extends 'base.html' %}
{% load static %}
{% block content %}
{%  include 'nav.html' %}


<div class="grid-container-picture">
    <div class="textIndex">
        <div class="textIndexContent">
            Zacznij zarabiać już dziś  <span class="textIndexContentColor">z fotowoltaiką<span class="textIndexDot">.</span>
            </span>
        </div>
        <div class="textAboutIndex">
            Oszczędzaj na rachunkach za prąd i zyskaj dzięki panelom fotowoltaicznym. Skorzystaj z naszego kalkulatora by sprawdzić opłacalność inwestycji. 
        </div>
        <div class="buttonIndex">
            <a href="#calc">
                 <button >Oblicz</button>  
            </a>
        </div>
        
    </div>
    <div class="backgroundImgIndex">
        <div class="mainPictureIndex">
            <img class="responsiveImgIndex" src="{% static 'images/backgroundImg.png'  %}" alt="background picture">
        </div>
    </div>
</div>







{% include 'calc.html'  %} 
{% include 'howWeWork.html'  %} 
{% include 'gallery.html'  %}
{% endblock %}