{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="textCenterMain">
    
</div>
<div class="grid-container" >
    <div class="backgroundPic" style="background-image: url({% static 'pics/orig_539220.jpg' %})" >
      <div class="leftCol">
        <div class="whiteLeftCol"><img class="reponsivePicLogo" src="{% static 'pics/Black-on-Transparent.png' %}"/> </div>
        <div class="blueColLeft">
          <div class="textColLeft"></div>
        </div>
      </div>
      <div class="mainCol"></div>
      <div class="rightCol">
        <div class="whiteColRight"></div>
        <div class="blueColRight">
          <div class="textColRight"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}