{% load static  %}
<header>
    <a class="logo" href="/"><img src="{% static '/images/Black-on-Transparent.png'  %}" class="logoImg"alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li><a href="#aboutUs">O nas</a></li>
            <li><a href="#gallery">Realizacje</a></li>
            <li><a href="#calc">Kalkulator</a></li>
        </ul>
    </nav>
    <a class="cta" href="#contact">Kontakt</a>
    <p class="menu cta">Menu</p>
</header>
<div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a class="linkNavMobile" href="#aboutUs">O nas</a>
        <a class="linkNavMobile" href="#gallery">Realizacje</a>
        <a class="linkNavMobile" href="#calc">Kalkulator</a>
    </div>
</div>