{% load static  %}
<header>
    <a class="logo" href="/"><img src="{% static '/images/Black-on-Transparent.png'  %}" class="logoImg"alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li><a href="#">Jak działamy</a></li>
            <li><a href="#">Realizacje</a></li>
            <li><a href="#">Kalkulator</a></li>
        </ul>
    </nav>
    <a class="cta" href="#">Kontakt</a>
    <p class="menu cta">Menu</p>
</header>
<div class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <a href="#">Jak działamy</a>
        <a href="#">Realizacje</a>
        <a href="#">Kalkulator</a>
    </div>
</div>